<?xml version="1.0" encoding="utf-8"?>
<!-- xbArticleMan j5 config file v0.1.0.0 26th February 2024 -->
<config>
	<inlinehelp button="show"/>
<!-- GENERAL TAB -->				
	<fieldset name="general"
		label="XBCONFIG_GENERAL"
		description="XBCONFIG_GENERAL_DESC"
	>
		<field name="linkhintnote" type="note"
			label="XBCONFIG_HINT_NOTE_LABEL"
			description="XBCONFIG_HINT_NOTE_DESC"
		/>
		
		<field name="extlinkhint" type="radio"
			label="XBCONFIG_LINKHINT_LABEL"
			description="XBCONFIG_LINKHINT_DESC"
 			class="btn-group btn-group-yesno"
 			default="0"
			>
			<option value="0">XBCONFIG_USE_TEMPLATE</option>
			<option value="1">XBCONFIG_SITE_ADMIN</option>
			<option value="2">XBCONFIG_SITE_ONLY</option>
			<option value="3">XBCONFIG_ADMIN_ONLY</option>
		</field>	
	
   		<field name="beernote" type="note"
			label="XBCONFIG_BUY_A_BEER_LABEL"
			description="XBCONFIG_BUY_A_BEER_DESC"
			class="info"
		/>	
        
        
	</fieldset>
<!-- TAG COMPONENTS TAB -->
	<fieldset name="tagopts"
			label="XBCONFIG_TAG_OPTIONS_LABEL"
			description="XBCONFIG_TAG_OPTIONS_DESC"
	>
        <field name="taggrpsnote" type="note"
			label="XBCONFIG_TAGGROUPNOTE_LABEL"
			description="XBCONFIG_TAGGROUPNOTE_DESC"
		/>	
		<field name="taggrpsnote2" type="note"
			description="XBARTMAN_CONFIG_TAGGROUPNOTE_DESC"
		/>
		
	 	<field name="enable_taggroups" type="radio"
			label="XBCONFIG_TAGGROUP_ENABLE_LABEL"
			description=""
			class="btn-group btn-group-yesno"
			showon="show_tags:1"
			default="0"
		>
			<option value="0" >JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="taggrpsnote3" type="note"
			description="XBCONFIG_TAGGROUP_DESC"
			showon="enable_taggroups:1" 
		/>	
		<field name="taggroup1_parent" type="tag"
			mode="nested" published="1"
			label="XBCONFIG_TAGGROUP1_PARENT" description=""
			multiple="false"
			showon="enable_taggroups:1" 
			default=""
		>
			<option value="">XBCONFIG_OPT_NOT_USED</option>
		</field>
		<field name="taggroup2_parent" type="tag"
			mode="nested" published="1"
			label="XBCONFIG_TAGGROUP2_PARENT" description=""
			multiple="false"
			showon="enable_taggroups:1[AND]taggroup1_parent!:"
			default=""
		>
			<option value="">XBCONFIG_OPT_NOT_USED</option>
		</field>
		<field name="taggroup3_parent" type="tag"
			mode="nested" published="1"
			label="XBCONFIG_TAGGROUP3_PARENT" description=""
			multiple="false"
			showon="enable_taggroups:1[AND]taggroup1_parent!:[AND]taggroup2_parent!:"
			default=""
		>
			<option value="">XBCONFIG_OPT_NOT_USED</option>
		</field>
		<field name="taggroup4_parent" type="tag"
			mode="nested" published="1"
			label="XBCONFIG_TAGGROUP4_PARENT" description=""
			multiple="false"
			showon="enable_taggroups:1[AND]taggroup1_parent!:[AND]taggroup2_parent!:[AND]taggroup3_parent!:"
			default=""
		>
			<option value="">XBCONFIG_OPT_NOT_USED</option>
		</field>
		
		<field name="tagcomnote" type="note"
			label="XBARTMAN_CONFIG_TAGCOMNOTE_LABEL"
			description="XBARTMAN_CONFIG_TAGCOMNOTE_DESC"
		/>
		
		<field name="jcomitems" type="list"
			label="XBARTMAN_CONFIG_JCOM_LABEL"
			description="XBARTMAN_CONFIG_JCOM_DESC"
			multiple="true"		
			default="1"	
		>
			<option value="1">XBARTMAN_CONFIG_ARTICLES</option>
			<option value="3">XBARTMAN_CONFIG_CONTACTS</option>
			<option value="6">XBARTMAN_CONFIG_NEWSFEEDS</option>
			<option value="2">XBARTMAN_CONFIG_CONTENT_CATS</option>
			<option value="4">XBARTMAN_CONFIG_CONTACT_CATS</option>
			<option value="5">XBARTMAN_CONFIG_BANNERS_CATS</option>
			<option value="7">XBARTMAN_CONFIG_NEWS_CATS</option>
		</field>
		
		<field name="othercomitems" type="subform"
			label="XBARTMAN_CONFIG_OTHERCOM_LABEL" 
			description="XBARTMAN_CONFIG_OTHERCOM_DESC"
			multiple="true"
			buttons="add,remove"
			layout="joomla.form.field.subform.repeatable"
		>
			<form>
				<field name="com" type="text"
					label="XBARTMAN_CONFIG_COMPONENT_LABEL" 
					hint="eg 'weblinks'"
					description="XBARTMAN_CONFIG_COMPONENT_DESC"	
					required="true"				
				></field>
				<field name="item" type="text"
					label="XBARTMAN_CONFIG_ITEM_LABEL" 
					hint="eg 'weblink'"
					description="XBARTMAN_CONFIG_ITEM_DESC"					
					required="true"				
				></field>
				<field name="table" type="text"
					label="XBARTMAN_CONFIG_TABLE_LABEL" 
					hint="eg 'weblinks'"
					description="XBARTMAN_CONFIG_TABLE_DESC"					
					required="true"				
				></field>
				<field name="title" type="text"
					label="XBARTMAN_CONFIG_TITLE_LABEL" 
					hint="eg 'name'"
					description="XBARTMAN_CONFIG_TITLE_DESC"					
					required="true"				
				></field>
				<field name="pv" type="text"
					label="XBARTMAN_CONFIG_PREVIEW_LABEL" 
					hint="eg 'weblink'"
					description="XBARTMAN_CONFIG_PREVIEW_DESC"					
				></field>
				<field name="ed" type="text"
					label="XBARTMAN_CONFIG_EDIT_LABEL" 
					hint="eg '&amp;view=weblink&amp;task=weblink.edit'"
					description="XBARTMAN_CONFIG_EDIT_DESC"					
				></field>
			</form>
		</field>
	</fieldset>
<!-- BEER TAB -->
	<fieldset name="reg"
			label="XBCONFIG_REGCRED_LABEL"
			description="XBCONFIG_REGCRED_DESC"
	>
  		<field name="beernote" type="note"
			label="XBCONFIG_BEER_NOTE"
			description="XBCONFIG_BEER_LINK"
			class="info"
		/>	
		<field name="roger_beer" type="password"
			label="XBCONFIG_BEER_FIELD" description="XBCONFIG_BEER_FIELD_DESC"
			default=""
		/>	
		<field name="beernote2" type="note"
			label="XBCONFIG_BEER_PAY_AT_THE_BAR"
			description="XBCONFIG_BEER_FORM"			
		/>
		<field name="penpont" type="hidden"
			default="$2y$10$DeCwB16giLjgL7HgM1RDSeHROFs7QQef2dBQ9jEKehiTGj05jbonK" 
			/>		
		<field name="othercreditsnote" type="note"
			label="XBCONFIG_CREDITS_NOTE"
			description="XBARTMAN_CREDITS_NOTE"
		/>
		<field name="devtoolsnote" type="note"
			label="XBCONFIG_DEV_TOOLS"
			description="XBARTMAN_DEV_TOOLS_DESC"
		/>
	</fieldset>		

<!-- PERMISSIONS TAB -->

	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC" >
		<field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" 
			component="com_xbarticleman" filter="rules" validate="rules" section="component" />
	</fieldset>
	
</config>
