<?xml version="1.0" encoding="utf-8"?>
<!-- xbArticleMan j5 config file v0.0.8.0 15th February 2024 -->
<config>
<!-- GENERAL TAB -->				
	<fieldset name="general"
		label="XBCONFIG_GENERAL"
		description="XBCONFIG_GENERAL_DESC"
	>
		<field name="linkhintnote" type="note"
			label="XBCONFIG_HINT_NOTE_LABEL"
			description="XBCONFIG_HINT_NOTE_DESC"
		/>
		
		<field name="extlinkhint" type="radio"
			label="XBCONFIG_LINKHINT_LABEL"
			description="XBCONFIG_LINKHINT_DESC"
 			class="btn-group btn-group-yesno"
 			default="0"
			>
			<option value="0">XBCONFIG_USE_TEMPLATE</option>
			<option value="1">XBCONFIG_SITE_ADMIN</option>
			<option value="2">XBCONFIG_SITE_ONLY</option>
			<option value="3">XBCONFIG_ADMIN_ONLY</option>
		</field>	
	
   		<field name="beernote" type="note"
			label="XBCONFIG_BUY_A_BEER_LABEL"
			description="XBCONFIG_BUY_A_BEER_DESC"
			class="info"
		/>	
        
        
	</fieldset>
<!-- TAG COMPONENTS TAB -->
	<fieldset name="tagopts"
			label="XBARTMAN_CONFIG_TAG_OPTIONS_LABEL"
			description="XBARTMAN_CONFIG_TAG_OPTIONS_DESC"
	>
        <field name="taggrpsnote" type="note"
			label="XBARTMAN_CONFIG_TAGGROUPNOTE_LABEL"
			description="XBARTMAN_CONFIG_TAGGROUPNOTE_DESC"
		/>	
		
		
	 	<field name="enable_taggroups" type="radio"
			label="XBARTMAN_CONFIG_TAGGROUP_ENABLE_LABEL"
			description="XBARTMAN_CONFIG_TAGGROUP_ENABLE_DESC"
			class="btn-group btn-group-yesno"
			showon="show_tags:1"
			default="0"
		>
			<option value="0" >JNO</option>
			<option value="1">JYES</option>
		</field>	
		<field name="taggroup1_parent" type="tag"
			mode="nested" published="1"
			label="XBARTMAN_CONFIG_TAGGROUP1_PARENT" description=""
			multiple="false"
			showon="enable_taggroups:1" 
			default=""
		>
			<option value="">XBARTMAN_OPT_NOT_USED</option>
		</field>
		<field name="taggroup2_parent" type="tag"
			mode="nested" published="1"
			label="XBARTMAN_CONFIG_TAGGROUP2_PARENT" description=""
			multiple="false"
			showon="enable_taggroups:1[AND]taggroup1_parent!:"
			default=""
		>
			<option value="">XBARTMAN_OPT_NOT_USED</option>
		</field>
		<field name="taggroup3_parent" type="tag"
			mode="nested" published="1"
			label="XBARTMAN_CONFIG_TAGGROUP3_PARENT" description=""
			multiple="false"
			showon="enable_taggroups:1[AND]taggroup1_parent!:[AND]taggroup2_parent!:"
			default=""
		>
			<option value="">XBARTMAN_OPT_NOT_USED</option>
		</field>
		<field name="taggroup4_parent" type="tag"
			mode="nested" published="1"
			label="XBARTMAN_CONFIG_TAGGROUP4_PARENT" description=""
			multiple="false"
			showon="enable_taggroups:1[AND]taggroup1_parent!:[AND]taggroup2_parent!:[AND]taggroup3_parent!:"
			default=""
		>
			<option value="">XBARTMAN_OPT_NOT_USED</option>
		</field>
		
		<field name="tagcomnote" type="note"
			label="Component Tags to list in TagItems View"
			description="Here you can select which components using Joomla built-in tags will have their items listed in the TagItems view"
		/>
		
		<field name="jcomitems" type="list"
			label="Joomla Items"
			description="Select which built-in component tagged items will be listed in the TagItems view."
			multiple="true"		
			default="1"	
		>
			<option value="1">Articles</option>
			<option value="3">Contacts</option>
			<option value="6">Newsfeeds</option>
			<option value="2">com_content Categories</option>
			<option value="4">com_contact Categories</option>
			<option value="5">com_banners Categories</option>
			<option value="7">com_newsfeeds Categories</option>
		</field>
		
		<field name="othercomitems" type="subform"
			label="Other Component Items" 
			description="Enter the required details for each component you want to see listed"
			multiple="true"
			buttons="add,remove"
			layout="joomla.form.field.subform.repeatable"
		>
			<form>
				<field name="com" type="text"
					label="Component" hint="eg 'weblinks'"
					description="Component name wihtout the com_"	
					required="true"				
				></field>
				<field name="item" type="text"
					label="Item" hint="eg 'weblink'"
					description="The item type"					
					required="true"				
				></field>
				<field name="table" type="text"
					label="Table" hint="eg 'weblinks'"
					description="The table name used to store the items - without the '#__' prefix."					
					required="true"				
				></field>
				<field name="title" type="text"
					label="Title Column" hint="eg 'name'"
					description="The column name with the title. To concatenate two columns with a space use '+' eg 'firstname+lastname'"					
					required="true"				
				></field>
				<field name="pv" type="text"
					label="Preview View Name" hint="eg 'weblink'"
					description="View name for a preview of the item in a modal window from the eyecon &#128065; - site url, component and item id will be added to make url"					
				></field>
				<field name="ed" type="text"
					label="Edit View &amp; Task" hint="eg '&amp;view=weblink&amp;task=weblink.edit'"
					description="Fragment of query string to build edit url with correct view and task for the item id. ('&amp;id=' will be appended)"					
				></field>
			</form>
		</field>
<!--             $tagtypes[] = array('com'=>'content', 'item'=>'article', 'table'=>'content','title'=>'title','pv'=>'introtext','cntname'=>'contentarticlecnt','cnt'=>0);
 -->		
	
	<!-- //com_content
//            $query->select('(SELECT COUNT(*) FROM #__contentitem_tag_map AS mb WHERE mb.type_alias='.$db->quote('com_content.article').' AND mb.tag_id = t.id) AS acnt');
//            $query->select('(SELECT COUNT(*) FROM #__contentitem_tag_map AS mb WHERE mb.type_alias='.$db->quote('com_content.category').' AND mb.tag_id = t.id) AS acatcnt');
//com_contact
//            $query->select('(SELECT COUNT(*) FROM #__contentitem_tag_map AS mp WHERE mp.type_alias='.$db->quote('com_contact.contact').' AND mp.tag_id = t.id) AS ccnt');
//            $query->select('(SELECT COUNT(*) FROM #__contentitem_tag_map AS mr WHERE mr.type_alias='.$db->quote('com_contact.category').' AND mr.tag_id = t.id) AS ccatcnt');
//com_banners
//            $query->select('(SELECT COUNT(*) FROM #__contentitem_tag_map AS mr WHERE mr.type_alias='.$db->quote('com_banners.category').' AND mr.tag_id = t.id) AS bcatcnt');
//com newsfeeds
//            $query->select('(SELECT COUNT(*) FROM #__contentitem_tag_map AS mr WHERE mr.type_alias='.$db->quote('com_newsfeeds.newsfeed').' AND mr.tag_id = t.id) AS ncnt');
//            $query->select('(SELECT COUNT(*) FROM #__contentitem_tag_map AS mr WHERE mr.type_alias='.$db->quote('com_newsfeeds.category').' AND mr.tag_id = t.id) AS ncatcnt');
//com weblinks
//            $query->select('(SELECT COUNT(*) FROM #__contentitem_tag_map AS mr WHERE mr.type_alias='.$db->quote('com_weblinks.weblink').' AND mr.tag_id = t.id) AS wcatcnt');
//            $query->select('(SELECT COUNT(*) FROM #__contentitem_tag_map AS mr WHERE mr.type_alias='.$db->quote('com_weblinks.category').' AND mr.tag_id = t.id) AS wcatcnt');
   
 //           $query->select('(SELECT COUNT(*) FROM #__contentitem_tag_map AS ma WHERE ma.tag_id = t.id) AS allcnt ');
//other components tags - xb xbr xbbooks, xf xfr xbfilms, xe xbevents, xp xbpeople, xm xmt xmm xbmaps 
// (xbjournals not yet working, xbaoy not planned for j5) xbculture and xbmaps included pending j5
//TODO only do these if installed
//set up these as config subform for component.item, id field assume id for id, title field allow sql if not title, 
//set this up as array and iterate here to create query
/****
//com_xbbooks
            $query->select('(SELECT COUNT(*) FROM #__contentitem_tag_map AS mr WHERE mr.type_alias='.$db->quote('com_xbbooks.book').' AND mr.tag_id = t.id) AS xbcnt');
            $query->select('(SELECT COUNT(*) FROM #__contentitem_tag_map AS mr WHERE mr.type_alias='.$db->quote('com_xbbooks.review').' AND mr.tag_id = t.id) AS xbrcnt');
            $query->select('(SELECT COUNT(*) FROM #__contentitem_tag_map AS mr WHERE mr.type_alias='.$db->quote('com_xbbooks.category').' AND mr.tag_id = t.id) AS xbcatcnt');
//com_xfilms
            $query->select('(SELECT COUNT(*) FROM #__contentitem_tag_map AS mr WHERE mr.type_alias='.$db->quote('com_xbfilms.film').' AND mr.tag_id = t.id) AS xfcnt');
            $query->select('(SELECT COUNT(*) FROM #__contentitem_tag_map AS mr WHERE mr.type_alias='.$db->quote('com_xbfilms.review').' AND mr.tag_id = t.id) AS xfrcnt');
            $query->select('(SELECT COUNT(*) FROM #__contentitem_tag_map AS mr WHERE mr.type_alias='.$db->quote('com_xbfilms.category').' AND mr.tag_id = t.id) AS xfcatcnt');
//com_xbevents
            $query->select('(SELECT COUNT(*) FROM #__contentitem_tag_map AS mr WHERE mr.type_alias='.$db->quote('com_xbevents.event').' AND mr.tag_id = t.id) AS xecnt');
            $query->select('(SELECT COUNT(*) FROM #__contentitem_tag_map AS mr WHERE mr.type_alias='.$db->quote('com_xbevents.review').' AND mr.tag_id = t.id) AS xercnt');
            $query->select('(SELECT COUNT(*) FROM #__contentitem_tag_map AS mr WHERE mr.type_alias='.$db->quote('com_xbevents.category').' AND mr.tag_id = t.id) AS xecatcnt');
//com_xbpeople
            $query->select('(SELECT COUNT(*) FROM #__contentitem_tag_map AS mr WHERE mr.type_alias='.$db->quote('com_xbpeople.person').' AND mr.tag_id = t.id) AS xpcnt');
            $query->select('(SELECT COUNT(*) FROM #__contentitem_tag_map AS mr WHERE mr.type_alias='.$db->quote('com_xbpeople.group').' AND mr.tag_id = t.id) AS xpgcatcnt');
            $query->select('(SELECT COUNT(*) FROM #__contentitem_tag_map AS mr WHERE mr.type_alias='.$db->quote('com_xbpeople.character').' AND mr.tag_id = t.id) AS xpccnt');
            $query->select('(SELECT COUNT(*) FROM #__contentitem_tag_map AS mr WHERE mr.type_alias='.$db->quote('com_xbpeople.category').' AND mr.tag_id = t.id) AS xpcatcnt');
//com_xbmaps
            $query->select('(SELECT COUNT(*) FROM #__contentitem_tag_map AS mr WHERE mr.type_alias='.$db->quote('com_xbmaps.map').' AND mr.tag_id = t.id) AS xmcnt');
            $query->select('(SELECT COUNT(*) FROM #__contentitem_tag_map AS mr WHERE mr.type_alias='.$db->quote('com_xbmaps.marker').' AND mr.tag_id = t.id) AS xmmcnt');
            $query->select('(SELECT COUNT(*) FROM #__contentitem_tag_map AS mr WHERE mr.type_alias='.$db->quote('com_xbmaps.track').' AND mr.tag_id = t.id) AS xmtcnt');
            $query->select('(SELECT COUNT(*) FROM #__contentitem_tag_map AS mr WHERE mr.type_alias='.$db->quote('com_xbmaps.category').' AND mr.tag_id = t.id) AS xmcatcnt');

//            $query->select('(SELECT COUNT(*) FROM #__contentitem_tag_map AS mr WHERE mr.type_alias='.$db->quote('com_xb.').' AND mr.tag_id = t.id) AS ncnt');
***/
//            $query->select('(SELECT COUNT(*) FROM #__contentitem_tag_map AS ma WHERE ma.tag_id = t.id) AS allcnt ');
                       
	 -->
	</fieldset>
<!-- BEER TAB -->
	<fieldset name="reg"
			label="XBCONFIG_REGCRED_LABEL"
			description="XBCONFIG_REGCRED_DESC"
	>
  		<field name="beernote" type="note"
			label="XBCONFIG_BEER_NOTE"
			description="XBCONFIG_BEER_LINK"
			class="info"
		/>	
		<field name="roger_beer" type="password"
			label="XBCONFIG_BEER_FIELD" description="XBCONFIG_BEER_FIELD_DESC"
			default=""
		/>	
		<field name="beernote2" type="note"
			label="XBCONFIG_BEER_PAY_AT_THE_BAR"
			description="XBCONFIG_BEER_FORM"			
		/>
		<field name="penpont" type="hidden"
			default="$2y$10$DeCwB16giLjgL7HgM1RDSeHROFs7QQef2dBQ9jEKehiTGj05jbonK" 
			/>		
		<field name="othercreditsnote" type="note"
			label="XBCONFIG_CREDITS_NOTE"
			description="XBARTMAN_CREDITS_NOTE"
		/>
		<field name="devtoolsnote" type="note"
			label="XBCONFIG_DEV_TOOLS"
			description="XBARTMAN_DEV_TOOLS_DESC"
		/>
	</fieldset>		

<!-- PERMISSIONS TAB -->

	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC" >
		<field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" 
			component="com_xbarticleman" filter="rules" validate="rules" section="component" />
	</fieldset>
	
</config>
